html {
  scroll-behavior: smooth;
}

body, html {
  height: 100%;
  margin: 0;
}

.sidenav-container {
  display: flex;
  height: 100vh;
  width: 100%;
}

.sidenav {
  width: 250px; /* Fixed width for sidenav */
  display: block;
}

.mat-sidenav-content {
  flex: 1; /* Allow content to take up the remaining space */
  padding: 20px;
  background-color: #f4f4f4; /* Add background color to make it stand out */
}

.profile-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  flex-direction: column; /* Stack profile picture and text on mobile */
}

.profile-img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin-right: 20px;
}

.section {
  padding: 50px;
  border-bottom: 1px solid #ddd;
}

mat-tab-group {
  margin-top: 20px;
}

h2 {
  color: #6200ea;
}

/* Mobile adjustments */
@media (max-width: 768px) {
  .sidenav {
    width: 250px;
    display: none; /* Hide sidenav by default on mobile */
  }

  .menu-toggle {
    display: block;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1000;
  }

  .profile-container {
    flex-direction: column;
    text-align: center;
  }

  .profile-img {
    margin-right: 0;
    margin-bottom: 10px;
  }

  mat-tab-group {
    flex-direction: column;
  }

  mat-tab {
    text-align: center;
  }

  .sidenav.opened {
    display: block;
  }
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none; /* Hide the menu toggle on larger screens */
  }
}
